$defaultFontSize: 10px;
$defaultFont : 'Montserrat', sans-serif;

// COLORES

$mainColors: ("gray8": #0d0d0d,"gray7": #262626, "gray6": #404040, "gray5": #737373, "gray4": #8c8c8c, "gray3": #a6a6a6, "gray2": #bfbfbf, "gray1": #d9d9d9);

// MEDIDAS GENERALES

$generalPadding: 2rem;
$mainContainerWidth: 25rem;